body{
    font-family: Arial, Helvetica, sans-serif;
}
button, a{
    width: 90px;
    height: 25px;
    padding: 15px;
    line-height: 0px;
    border: 1px solid #b1b1b1;
    background: #6d6d6d;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.login-ctrl {
    text-align: center;
    table {
        margin: auto;
    }
}