<div class="login-ctrl">

    <div ng-bind="errorMessage" ng-show="errorMessage"></div>

    <table>

        <!-- Username -->
        <tr>
            <td>
                <label for="username-input">
                Username:
            </label>
            </td>
            <td>
                <input id="username-input" type="text" ng-model="username" />
            </td>
        </tr>

        <!-- Password -->
        <tr>
            <td>
                <label for="password-input">
                Password:
            </label>
            </td>
            <td>
                <input id="password-input" type="password" ng-model="password" />
            </td>
        </tr>

        <!-- Login -->
        <tr>
            <td colspan="2">
                <button ng-click="login()">Log In</button>
            </td>
        </tr>

    </table>
</div>